* {
  -moz-box-sizing: border-box !important;
  -webkit-box-sizing: border-box !important;
  -o-box-sizing: border-box !important;
  -ms-box-sizing: border-box !important;
  box-sizing: border-box !important;
}

body {
  min-width: 300px;
}

.content {
  padding: 0 16px 100px 16px;
  font-size: 14px
}

p {
  line-height: 1.5em;
  margin: 1em 0;
}

p, .category-title, .panel-heading {
  font-size: 14px !important;
}

.category-title, .panel-heading {
  font-weight: normal !important;
}

p img {
  display: block;
  margin: 20px auto !important;
}

a:hover {
  text-decoration: underline !important;
}

.footer p {
   width: 100%;
   text-align: center;
}

.last-updated {
  margin-top: 40px;
}

li.active a {
  color: #2d91ee !important;
}

h1.title {
  font-size: 36px;
  margin-top: 30px;
  margin-bottom: 40px;
}

h2 {
  margin: 20px 0 !important;
}

h3 {
  margin: 20px 0 !important;
}

.content ul {
  margin: 0 20px;
}

.content > ul {
  margin: 20px;
  font-size: 14px !important;
}

.page-title {
  margin: 40px 0 20px 0;
  font-size: 24px;
  color: #2d91ee;
}

.page-excerpt {
  font-size: 16px;
  color: #555;
  overflow: hidden;
}

.header {
  width: 100%;
  background-color: #2c4862;
}

.header a {
  display: inline-block;
  width: 280px;
  color: #fff;
  text-decoration: none;
}

.header img.header-icon {
  display: none;
}

.header form {
  display: inline-block;
  height: 48px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  overflow: hidden;
}

.header form input, .header form button {
  display: inline-block;
  height: 48px;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-style: none;
}

.header form input {
  padding-left: 16px;
  font-size: 20px;
}

.header form button {
  width: 48px;
  margin: 0 0 0 -5px;
  padding: 0;
  background-color: #2d91ee;
}

.block {
  background-color: #fff;
}

pre {
  position: relative;
  margin: 15px 0 !important;
  padding: 0;
  border-style: none;
  border-left: 4px solid #c3d8eb;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  background-color: #f6fafd !important;
  overflow: auto;
}

pre code {
  float: left;
  padding: 20px 20px 20px 50px !important;
  background-color: rgba(0,0,0,0) !important;
  white-space: pre;
}

pre .line-num {
  position: absolute;
  top: 20px;
  left: 0;
  margin: 0;
  padding: 0 0 0 10px;
  font-size: 12px;
  color: #c3d8eb;
  list-style: decimal;
  background-color: rgba(0,0,0,0);
  pointer-events: none;
}

pre .line-num li {
  height: 18px;
  margin: 0 0 0 35px;
  padding: 0;
  border-bottom: 1px solid #eef5fa;
}

